# User service database
USER_DB=user_db
USER_USER=user_admin
USER_PASSWORD=changeme

# Reservation service database
RESERVATION_DB=reservation_db
RESERVATION_USER=reservation_admin
RESERVATION_PASSWORD=changeme
